src/main/resources/agenda-internal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://techinfocom.com/nvis/agenda-internal" elementFormDefault="qualified"
        xmlns="http://www.w3.org/2001/XMLSchema" xmlns:a="http://techinfocom.com/nvis/agenda-internal">

    <element name="agenda">
        <complexType>
            <choice minOccurs="1" maxOccurs="unbounded">
                <element name="item" type="a:AgendaItem"></element>
                <element name="block" type="a:AgendaBlockItem"></element>
            </choice>
            <attribute name="meetingDate" type="date"></attribute>
        </complexType>
    </element>

    <simpleType name="AgendaItemNumber">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="8"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemInfo">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="255"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemRn">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="15"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemAddon">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="255"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemText">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="4096"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemGroupName">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="25"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemPostName">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="250"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemFio">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="150"/>
        </restriction>
    </simpleType>

    <simpleType name="AgendaItemNote">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="250"/>
        </restriction>
    </simpleType>

    <simpleType name="UUID">
        <restriction base="string">
            <length value="36"/>
            <pattern value="[0-9a-zA-Z]{8}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{4}-[0-9a-zA-Z]{12}"/>
        </restriction>
    </simpleType>

    <complexType name="AgendaItem">
        <sequence>
            <element name="id" type="a:UUID" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>UUID элемента порядка работы</documentation>
                </annotation>
            </element>
            <element name="number" type="a:AgendaItemNumber" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Номер пункта по порядку.
                        Пример1:
                        1.
                        Пример2:
                        2.1.*
                    </documentation>
                </annotation>
            </element>
            <element name="info" type="a:AgendaItemInfo" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Дополнительная информация по пункту порядка работы
                        время рассмотрения или просьба о рассмотрении в отсутсвии
                        инициатора рассмотрения
                        Пример1:
                        13:00 - 14:00
                        Пример2:
                        Самарская Губернская Дума предлагает
                        рассмотреть законопроект без участия своего
                        представителя
                    </documentation>
                </annotation>
            </element>
            <element name="addon" type="a:AgendaItemAddon" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Дополнение
                        Пример:
                        О проекте федерального конституционного закона
                    </documentation>
                </annotation>
            </element>
            <element name="rn" type="a:AgendaItemRn" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Регистрационный номер
                        Пример:
                        815146-6
                    </documentation>
                </annotation>
            </element>
            <element name="text" type="a:AgendaItemText" minOccurs="0">
                <annotation>
                    <documentation>Текст пункта порядка работы
                        Пример:
                        "О внесении изменений в статьи 18 и 29
                        Федерального конституционного закона  "Об Уполномоченном по правам человека в Российской Федерации"
                    </documentation>
                </annotation>
            </element>

            <element name="notes" type="a:notesList" minOccurs="0" maxOccurs="1"/>

            <element name="speakerGroups" type="a:Speakers" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>Блок информации о докладчиках</documentation>
                </annotation>
            </element>
            <choice minOccurs="0" maxOccurs="1">
                <element name="manualdocs">
                    <complexType>
                        <sequence>
                            <element name="document" maxOccurs="unbounded" minOccurs="1">
                                <complexType>
                                    <all>
                                        <element name="displayTitle" type="string"/>
                                        <element name="searchCriteria" type="string"/>
                                    </all>
                                </complexType>
                            </element>
                        </sequence>
			<attribute name="autoupdate" use="optional" type="boolean"/>
                    </complexType>
                </element>
                <element name="autodocs">
                    <complexType>
                        <attribute name="loadType" use="required">
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="all"/>
                                    <enumeration value="auto"/>
                                </restriction>
                            </simpleType>
                        </attribute>
			<attribute name="autoupdate" use="optional" type="boolean"/>
                    </complexType>
                </element>
            </choice>
        </sequence>
    </complexType>
    <complexType name="Speakers">
        <sequence>
            <element name="group" type="a:Group" minOccurs="1" maxOccurs="10">
                <annotation>
                    <documentation>Группа докладчиков, объединенная одним типом доклада</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Group">
        <all>
            <element name="groupName" type="a:AgendaItemGroupName" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>Наименование доклада:
                        Пример1:
                        Доклад
                        Пример2:
                        Содоклад
                    </documentation>
                </annotation>
            </element>
            <element name="speakers" maxOccurs="1" minOccurs="1">
                <complexType>
                    <sequence>
                        <element name="speaker" minOccurs="1" maxOccurs="unbounded">
                            <complexType>
                                <all>
                                    <element name="post" type="a:AgendaItemPostName">
                                        <annotation>
                                            <documentation>Должность выступающего в виде, отображаемом в порядке работы:
                                                Пример1:
                                                члена Комитета по вопросам местного самоуправления
                                                Пример2:
                                                официального представителя Правительства Российской Федерации заместителя Министра промышленности и торговли Российской Федерации
                                            </documentation>
                                        </annotation>
                                    </element>
                                    <element name="name" type="a:AgendaItemFio" minOccurs="0">
                                        <annotation>
                                            <documentation>Фамилия, имя, отчество докладчика в виде, указываемом в порядке работы:
                                                Пример:
                                                Татьяны Николаевны Москальковой
                                            </documentation>
                                        </annotation>
                                    </element>
                                </all>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </all>
    </complexType>

    <complexType name="notesList">
        <sequence>
            <element name="note" type="a:AgendaItemNote" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>Примечание
                        Пример:
                        (в части введения запрета для муниципального служащего в случае родства с главой муниципального
                        образования)
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>


    <complexType name="AgendaBlockItem">
        <sequence>
            <element name="id" type="a:UUID" minOccurs="1" maxOccurs="1"/>
            <element name="info" type="a:AgendaItemInfo"></element>
            <element name="text" type="a:AgendaItemText"></element>
            <element name="children" type="a:BlockOrItemList" maxOccurs="1" minOccurs="0"></element>
        </sequence>
    </complexType>


    <complexType name="BlockOrItemList">
        <choice minOccurs="1" maxOccurs="unbounded">
            <element name="item" type="a:AgendaItem"></element>
            <element name="block" type="a:AgendaBlockItem"></element>
        </choice>
    </complexType>
</schema>
